---
import 'remixicon/fonts/remixicon.css';
import Nav from '../components/Nav.astro';
import Hero from '../sections/Hero.astro'
import About from '../sections/About.astro';
import Packages from '../sections/Packages.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>TravelToor</title>
	</head>
	<body>
		<Nav/>
		<Hero/>
		<main>
			<About/>
			<Packages/>
		</main>
	</body>
</html>

<style is:global>
	:root {
  --primary-color: #ffa03f;
  --primary-color-dark: #e08b37;
  --text-dark: #020617;
  --text-light: #1e293b;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}
html,body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
		border: none;
	}
	img{
		max-width: 100%;
		margin: 0 auto;
	}
</style>
