<section class="suscribe">
    <h2 class="suscribe__title">Subscribe To Get The Latest News <span>About Us</span></h2>
    <p class="suscribe__paragraph">Stay updated with the latest travel deals, destination highlights, and exclusive offers. Subscribe now and never miss out on exciting news and updates about our services!</p>
    <form  action="/">
        <input type="email" placeholder="Your Email ">
        <button class="suscribe__btn">Suscribe</button>
    </form>
</section>

<style>
.suscribe{
    padding: 2.5rem 0;
    max-width: var(--max-width);
    margin: 0 auto;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.suscribe__title{
    font-size: 2.5rem;
    color: var(--text-dark);
    max-width: 600px;
}
.suscribe__title span{
    color: var(--primary-color);
}
.suscribe__paragraph{
    max-width: 600px;
    color: var(--text-light);
    line-height: 1.5;
    font-size: 1.1rem;
}
.suscribe form{
    background-color: rgba(255, 160, 63, 0.5);
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 35%;
}
.suscribe input{
    width: 100%;
    padding-inline: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
}
.suscribe button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
</style>